.selectDay {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 5px;
  align-items: center;
}
.dayChangeBtn {
  height: 45px;
  aspect-ratio: 1/1;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 33, 33);
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 33px;
  transition: background-color 200ms, color 200ms;
}
.groupSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#changeGroupBtn {
  height: 40px;
  width: 125px;
  padding: 0px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(194, 33, 33);
  color: white;
  transition: background-color 200ms, color 200ms;
  cursor: pointer;
}
#showSelectClassFormBtn {
  height: 40px;
  width: 125px;
  padding: 0px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(194, 33, 33);
  color: white;
  transition: background-color 200ms, color 200ms;
  cursor: pointer;
}
#changeGroupBtn:hover,
#showSelectClassFormBtn:hover,
.dayChangeBtn:hover {
  background-color: white;
  color: rgb(194, 33, 33);
  border-color: rgb(194, 33, 33);
}
@media screen and (min-width: 500px) {
  #showSelectClassFormBtn,
  #changeGroupBtn {
    font-size: 18px;
    width: 140px;
  }
}
@media screen and (min-width: 1024px) {
  .selectDay {
    display: flex;
    justify-content: space-between;
    position: static;
    padding: 5px;
    width: 500px;
    margin-inline: auto;
    margin-top: 10px;
  }
}
