.lesson {
  padding: 10px 5px;
  color: #00171f;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  height: 30px;
  place-items: center;
}
.lesson:nth-child(2n) {
  background-color: #ececec;
}
